<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/USA.js"></script>

</head>
<body>
    <div id="cf33f075047440b5901f2143e97cca18" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cf33f075047440b5901f2143e97cca18 = echarts.init(
            document.getElementById('cf33f075047440b5901f2143e97cca18'), 'white', {renderer: 'canvas'});
        var option_cf33f075047440b5901f2143e97cca18 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u7f8e\u56fd",
            "data": [
                {
                    "name": "Kentucky",
                    "value": 27645
                },
                {
                    "name": "New Jersey",
                    "value": 52514
                },
                {
                    "name": "Iowa",
                    "value": 18583
                },
                {
                    "name": "West Virginia",
                    "value": 12028
                },
                {
                    "name": "New York",
                    "value": 114167
                },
                {
                    "name": "Louisiana",
                    "value": 25875
                },
                {
                    "name": "Pennsylvania",
                    "value": 79777
                },
                {
                    "name": "Delaware",
                    "value": 5893
                },
                {
                    "name": "New Hampshire",
                    "value": 8436
                },
                {
                    "name": "Arkansas",
                    "value": 17464
                },
                {
                    "name": "Maine",
                    "value": 8998
                },
                {
                    "name": "Mississippi",
                    "value": 16616
                },
                {
                    "name": "Rhode Island",
                    "value": 6272
                },
                {
                    "name": "Minnesota",
                    "value": 30506
                },
                {
                    "name": "North Carolina",
                    "value": 56784
                },
                {
                    "name": "Georgia",
                    "value": 51965
                },
                {
                    "name": "Wisconsin",
                    "value": 33416
                },
                {
                    "name": "Nebraska",
                    "value": 10261
                },
                {
                    "name": "Ohio",
                    "value": 67455
                },
                {
                    "name": "Illinois",
                    "value": 69570
                },
                {
                    "name": "Tennessee",
                    "value": 37470
                },
                {
                    "name": "Connecticut",
                    "value": 21039
                },
                {
                    "name": "Montana",
                    "value": 6270
                },
                {
                    "name": "Florida",
                    "value": 130868
                },
                {
                    "name": "South Dakota",
                    "value": 4719
                },
                {
                    "name": "Indiana",
                    "value": 35470
                },
                {
                    "name": "Kansas",
                    "value": 15348
                },
                {
                    "name": "Massachusetts",
                    "value": 38103
                },
                {
                    "name": "Vermont",
                    "value": 3841
                },
                {
                    "name": "North Dakota",
                    "value": 3822
                },
                {
                    "name": "Maryland",
                    "value": 31791
                },
                {
                    "name": "Missouri",
                    "value": 33755
                },
                {
                    "name": "Alabama",
                    "value": 26900
                },
                {
                    "name": "Oklahoma",
                    "value": 20358
                },
                {
                    "name": "South Carolina",
                    "value": 27846
                },
                {
                    "name": "Michigan",
                    "value": 55623
                },
                {
                    "name": "Idaho",
                    "value": 8515
                },
                {
                    "name": "Washington",
                    "value": 37094
                },
                {
                    "name": "Oregon",
                    "value": 21877
                },
                {
                    "name": "District of Columbia",
                    "value": 2867
                },
                {
                    "name": "Alaska",
                    "value": 2952
                },
                {
                    "name": "Hawaii",
                    "value": 7393
                },
                {
                    "name": "Texas",
                    "value": 114140
                },
                {
                    "name": "Virginia",
                    "value": 40096
                },
                {
                    "name": "Utah",
                    "value": 10831
                },
                {
                    "name": "California",
                    "value": 171164
                },
                {
                    "name": "Wyoming",
                    "value": 2764
                },
                {
                    "name": "Nevada",
                    "value": 10567
                },
                {
                    "name": "Colorado",
                    "value": 23773
                },
                {
                    "name": "Arizona",
                    "value": 32375
                },
                {
                    "name": "New Mexico",
                    "value": 9433
                },
                {
                    "name": "Puerto Rico",
                    "value": 15841
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "United State cancer cases",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 2764,
        "max": 171164,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_cf33f075047440b5901f2143e97cca18.setOption(option_cf33f075047440b5901f2143e97cca18);
    </script>
</body>
</html>
